In [46]:
print("hello world")

hello world

In [47]:
import pandas_datareader

In [48]:
from pandas_datareader import data

In [49]:
from pandas_datareader._utils import RemoteDataError

In [50]:
import matplotlib.pyplot as plt

In [51]:
import pandas as pd

In [52]:
import numpy as np

In [53]:
from datetime import datetime

In [55]:
from datetime import datetime, timedelta

# setting start date and the end date 
current_date = datetime.now()

start_date = current_date - timedelta(days=7)

# Format the start date as a string
start_date_str = start_date.strftime("%Y-%m-%d")
current_date_str = current_date.strftime("%Y-%m-%d")

In [56]:
current_date_str

'2024-03-10'

In [57]:
start_date_str

'2024-03-03'

In [58]:
import numpy as np
import pandas as pd
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb

In [59]:
aapl = yf.download('AAPL', start=start_date_str)

[*********************100%%**********************]  1 of 1 completed

In [60]:
aapl

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-03-04,176.149994,176.899994,173.789993,175.100006,175.100006,81510100
2024-03-05,170.759995,172.039993,169.619995,170.119995,170.119995,95132400
2024-03-06,171.059998,171.240005,168.679993,169.119995,169.119995,68587700
2024-03-07,169.149994,170.729996,168.490005,169.000000,169.000000,71765100
2024-03-08,169.000000,173.699997,168.940002,170.729996,170.729996,76114600

In [61]:
import bs4 as bs
import requests

In [62]:
resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})

In [63]:
tickers = []

for row in table.findAll('tr')[1:]:
    ticker = row.findAll('td')[0].text
    tickers.append(ticker)

In [64]:
print(tickers)

['MMM\n', 'AOS\n', 'ABT\n', 'ABBV\n', 'ACN\n', 'ADBE\n', 'AMD\n', 'AES\n', 'AFL\n', 'A\n', 'APD\n', 'ABNB\n', 'AKAM\n', 'ALB\n', 'ARE\n', 'ALGN\n', 'ALLE\n', 'LNT\n', 'ALL\n', 'GOOGL\n', 'GOOG\n', 'MO\n', 'AMZN\n', 'AMCR\n', 'AEE\n', 'AAL\n', 'AEP\n', 'AXP\n', 'AIG\n', 'AMT\n', 'AWK\n', 'AMP\n', 'AME\n', 'AMGN\n', 'APH\n', 'ADI\n', 'ANSS\n', 'AON\n', 'APA\n', 'AAPL\n', 'AMAT\n', 'APTV\n', 'ACGL\n', 'ADM\n', 'ANET\n', 'AJG\n', 'AIZ\n', 'T\n', 'ATO\n', 'ADSK\n', 'ADP\n', 'AZO\n', 'AVB\n', 'AVY\n', 'AXON\n', 'BKR\n', 'BALL\n', 'BAC\n', 'BK\n', 'BBWI\n', 'BAX\n', 'BDX\n', 'BRK.B\n', 'BBY\n', 'BIO\n', 'TECH\n', 'BIIB\n', 'BLK\n', 'BX\n', 'BA\n', 'BKNG\n', 'BWA\n', 'BXP\n', 'BSX\n', 'BMY\n', 'AVGO\n', 'BR\n', 'BRO\n', 'BF.B\n', 'BLDR\n', 'BG\n', 'CDNS\n', 'CZR\n', 'CPT\n', 'CPB\n', 'COF\n', 'CAH\n', 'KMX\n', 'CCL\n', 'CARR\n', 'CTLT\n', 'CAT\n', 'CBOE\n', 'CBRE\n', 'CDW\n', 'CE\n', 'COR\n', 'CNC\n', 'CNP\n', 'CF\n', 'CHRW\n', 'CRL\n', 'SCHW\n', 'CHTR\n', 'CVX\n', 'CMG\n', 'CB\n', 'CHD\n', 'CI\n', 'CINF\n', 'CTAS\n', 'CSCO\n', 'C\n', 'CFG\n', 'CLX\n', 'CME\n', 'CMS\n', 'KO\n', 'CTSH\n', 'CL\n', 'CMCSA\n', 'CMA\n', 'CAG\n', 'COP\n', 'ED\n', 'STZ\n', 'CEG\n', 'COO\n', 'CPRT\n', 'GLW\n', 'CTVA\n', 'CSGP\n', 'COST\n', 'CTRA\n', 'CCI\n', 'CSX\n', 'CMI\n', 'CVS\n', 'DHR\n', 'DRI\n', 'DVA\n', 'DAY\n', 'DE\n', 'DAL\n', 'XRAY\n', 'DVN\n', 'DXCM\n', 'FANG\n', 'DLR\n', 'DFS\n', 'DG\n', 'DLTR\n', 'D\n', 'DPZ\n', 'DOV\n', 'DOW\n', 'DHI\n', 'DTE\n', 'DUK\n', 'DD\n', 'EMN\n', 'ETN\n', 'EBAY\n', 'ECL\n', 'EIX\n', 'EW\n', 'EA\n', 'ELV\n', 'LLY\n', 'EMR\n', 'ENPH\n', 'ETR\n', 'EOG\n', 'EPAM\n', 'EQT\n', 'EFX\n', 'EQIX\n', 'EQR\n', 'ESS\n', 'EL\n', 'ETSY\n', 'EG\n', 'EVRG\n', 'ES\n', 'EXC\n', 'EXPE\n', 'EXPD\n', 'EXR\n', 'XOM\n', 'FFIV\n', 'FDS\n', 'FICO\n', 'FAST\n', 'FRT\n', 'FDX\n', 'FIS\n', 'FITB\n', 'FSLR\n', 'FE\n', 'FI\n', 'FLT\n', 'FMC\n', 'F\n', 'FTNT\n', 'FTV\n', 'FOXA\n', 'FOX\n', 'BEN\n', 'FCX\n', 'GRMN\n', 'IT\n', 'GEHC\n', 'GEN\n', 'GNRC\n', 'GD\n', 'GE\n', 'GIS\n', 'GM\n', 'GPC\n', 'GILD\n', 'GPN\n', 'GL\n', 'GS\n', 'HAL\n', 'HIG\n', 'HAS\n', 'HCA\n', 'DOC\n', 'HSIC\n', 'HSY\n', 'HES\n', 'HPE\n', 'HLT\n', 'HOLX\n', 'HD\n', 'HON\n', 'HRL\n', 'HST\n', 'HWM\n', 'HPQ\n', 'HUBB\n', 'HUM\n', 'HBAN\n', 'HII\n', 'IBM\n', 'IEX\n', 'IDXX\n', 'ITW\n', 'ILMN\n', 'INCY\n', 'IR\n', 'PODD\n', 'INTC\n', 'ICE\n', 'IFF\n', 'IP\n', 'IPG\n', 'INTU\n', 'ISRG\n', 'IVZ\n', 'INVH\n', 'IQV\n', 'IRM\n', 'JBHT\n', 'JBL\n', 'JKHY\n', 'J\n', 'JNJ\n', 'JCI\n', 'JPM\n', 'JNPR\n', 'K\n', 'KVUE\n', 'KDP\n', 'KEY\n', 'KEYS\n', 'KMB\n', 'KIM\n', 'KMI\n', 'KLAC\n', 'KHC\n', 'KR\n', 'LHX\n', 'LH\n', 'LRCX\n', 'LW\n', 'LVS\n', 'LDOS\n', 'LEN\n', 'LIN\n', 'LYV\n', 'LKQ\n', 'LMT\n', 'L\n', 'LOW\n', 'LULU\n', 'LYB\n', 'MTB\n', 'MRO\n', 'MPC\n', 'MKTX\n', 'MAR\n', 'MMC\n', 'MLM\n', 'MAS\n', 'MA\n', 'MTCH\n', 'MKC\n', 'MCD\n', 'MCK\n', 'MDT\n', 'MRK\n', 'META\n', 'MET\n', 'MTD\n', 'MGM\n', 'MCHP\n', 'MU\n', 'MSFT\n', 'MAA\n', 'MRNA\n', 'MHK\n', 'MOH\n', 'TAP\n', 'MDLZ\n', 'MPWR\n', 'MNST\n', 'MCO\n', 'MS\n', 'MOS\n', 'MSI\n', 'MSCI\n', 'NDAQ\n', 'NTAP\n', 'NFLX\n', 'NEM\n', 'NWSA\n', 'NWS\n', 'NEE\n', 'NKE\n', 'NI\n', 'NDSN\n', 'NSC\n', 'NTRS\n', 'NOC\n', 'NCLH\n', 'NRG\n', 'NUE\n', 'NVDA\n', 'NVR\n', 'NXPI\n', 'ORLY\n', 'OXY\n', 'ODFL\n', 'OMC\n', 'ON\n', 'OKE\n', 'ORCL\n', 'OTIS\n', 'PCAR\n', 'PKG\n', 'PANW\n', 'PARA\n', 'PH\n', 'PAYX\n', 'PAYC\n', 'PYPL\n', 'PNR\n', 'PEP\n', 'PFE\n', 'PCG\n', 'PM\n', 'PSX\n', 'PNW\n', 'PXD\n', 'PNC\n', 'POOL\n', 'PPG\n', 'PPL\n', 'PFG\n', 'PG\n', 'PGR\n', 'PLD\n', 'PRU\n', 'PEG\n', 'PTC\n', 'PSA\n', 'PHM\n', 'QRVO\n', 'PWR\n', 'QCOM\n', 'DGX\n', 'RL\n', 'RJF\n', 'RTX\n', 'O\n', 'REG\n', 'REGN\n', 'RF\n', 'RSG\n', 'RMD\n', 'RVTY\n', 'RHI\n', 'ROK\n', 'ROL\n', 'ROP\n', 'ROST\n', 'RCL\n', 'SPGI\n', 'CRM\n', 'SBAC\n', 'SLB\n', 'STX\n', 'SRE\n', 'NOW\n', 'SHW\n', 'SPG\n', 'SWKS\n', 'SJM\n', 'SNA\n', 'SO\n', 'LUV\n', 'SWK\n', 'SBUX\n', 'STT\n', 'STLD\n', 'STE\n', 'SYK\n', 'SYF\n', 'SNPS\n', 'SYY\n', 'TMUS\n', 'TROW\n', 'TTWO\n', 'TPR\n', 'TRGP\n', 'TGT\n', 'TEL\n', 'TDY\n', 'TFX\n', 'TER\n', 'TSLA\n', 'TXN\n', 'TXT\n', 'TMO\n', 'TJX\n', 'TSCO\n', 'TT\n', 'TDG\n', 'TRV\n', 'TRMB\n', 'TFC\n', 'TYL\n', 'TSN\n', 'USB\n', 'UBER\n', 'UDR\n', 'ULTA\n', 'UNP\n', 'UAL\n', 'UPS\n', 'URI\n', 'UNH\n', 'UHS\n', 'VLO\n', 'VTR\n', 'VLTO\n', 'VRSN\n', 'VRSK\n', 'VZ\n', 'VRTX\n', 'VFC\n', 'VTRS\n', 'VICI\n', 'V\n', 'VMC\n', 'WRB\n', 'WAB\n', 'WBA\n', 'WMT\n', 'DIS\n', 'WBD\n', 'WM\n', 'WAT\n', 'WEC\n', 'WFC\n', 'WELL\n', 'WST\n', 'WDC\n', 'WRK\n', 'WY\n', 'WHR\n', 'WMB\n', 'WTW\n', 'GWW\n', 'WYNN\n', 'XEL\n', 'XYL\n', 'YUM\n', 'ZBRA\n', 'ZBH\n', 'ZION\n', 'ZTS\n']

In [97]:
tickers = [s.replace('\n', '') for s in tickers]
tickers = sorted(tickers)

In [66]:

data = yf.download(tickers, start=start_date, end="2024-03-08")

[*********************100%%**********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2024-03-03 18:22:14.047282 -> 2024-03-08)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [67]:
# apple_data = data.loc[:, 'AAPL']
# print(apple_data)
data

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-03-04  142.860001  14.81  175.100006  177.050003  158.089996  120.040001
2024-03-05  144.350006  14.67  170.119995  179.160004  159.330002  118.480003
2024-03-06  146.220001  14.88  169.119995  181.059998  163.869995  119.339996
2024-03-07  149.309998  14.90  169.000000  180.570007  163.539993  120.919998

Price                                                      ...   Volume  \
Ticker           ACGL         ACN        ADBE         ADI  ...     WYNN
Date                                                       ...
2024-03-04  87.139999  383.709991  567.940002  194.660004  ...  1875100
2024-03-05  87.389999  376.880005  544.840027  189.800003  ...  1380000
2024-03-06  88.820000  380.829987  543.090027  191.699997  ...  1125800
2024-03-07  87.690002  386.910004  556.039978  198.240005  ...  1773500

Price                                                                       \
Ticker           XEL       XOM     XRAY      XYL      YUM      ZBH    ZBRA
Date
2024-03-04  10184200  18138000  1565300   917300  2421400  1658500  442500
2024-03-05  12549200  19952700  1753400   924200  2283400  1308300  306700
2024-03-06  14401900  20472800  1590300  1118900  1772600   753100  182100
2024-03-07  17186900  15195400  1711200   905500  1939800  1057900  246600

Price
Ticker         ZION      ZTS
Date
2024-03-04  4217700  3757200
2024-03-05  3370400  2508500
2024-03-06  4182000  5028500
2024-03-07  2512100  3839300

[4 rows x 3018 columns]

In [68]:
data['Adj Close']['BF.B']

Date
2024-03-04   NaN
2024-03-05   NaN
2024-03-06   NaN
2024-03-07   NaN
Name: BF.B, dtype: float64

In [69]:
data['Adj Close']['BRK.B']

Date
2024-03-04   NaN
2024-03-05   NaN
2024-03-06   NaN
2024-03-07   NaN
Name: BRK.B, dtype: float64

In [70]:
# Must remove data with nan values
data.dropna(axis=1)

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-03-04  142.860001  14.81  175.100006  177.050003  158.089996  120.040001
2024-03-05  144.350006  14.67  170.119995  179.160004  159.330002  118.480003
2024-03-06  146.220001  14.88  169.119995  181.059998  163.869995  119.339996
2024-03-07  149.309998  14.90  169.000000  180.570007  163.539993  120.919998

Price                                                      ...   Volume  \
Ticker           ACGL         ACN        ADBE         ADI  ...     WYNN
Date                                                       ...
2024-03-04  87.139999  383.709991  567.940002  194.660004  ...  1875100
2024-03-05  87.389999  376.880005  544.840027  189.800003  ...  1380000
2024-03-06  88.820000  380.829987  543.090027  191.699997  ...  1125800
2024-03-07  87.690002  386.910004  556.039978  198.240005  ...  1773500

Price                                                                       \
Ticker           XEL       XOM     XRAY      XYL      YUM      ZBH    ZBRA
Date
2024-03-04  10184200  18138000  1565300   917300  2421400  1658500  442500
2024-03-05  12549200  19952700  1753400   924200  2283400  1308300  306700
2024-03-06  14401900  20472800  1590300  1118900  1772600   753100  182100
2024-03-07  17186900  15195400  1711200   905500  1939800  1057900  246600

Price
Ticker         ZION      ZTS
Date
2024-03-04  4217700  3757200
2024-03-05  3370400  2508500
2024-03-06  4182000  5028500
2024-03-07  2512100  3839300

[4 rows x 3006 columns]

In [71]:
data

Price        Adj Close                                                         \
Ticker               A    AAL        AAPL        ABBV        ABNB         ABT
Date
2024-03-04  142.860001  14.81  175.100006  177.050003  158.089996  120.040001
2024-03-05  144.350006  14.67  170.119995  179.160004  159.330002  118.480003
2024-03-06  146.220001  14.88  169.119995  181.059998  163.869995  119.339996
2024-03-07  149.309998  14.90  169.000000  180.570007  163.539993  120.919998

Price                                                      ...   Volume  \
Ticker           ACGL         ACN        ADBE         ADI  ...     WYNN
Date                                                       ...
2024-03-04  87.139999  383.709991  567.940002  194.660004  ...  1875100
2024-03-05  87.389999  376.880005  544.840027  189.800003  ...  1380000
2024-03-06  88.820000  380.829987  543.090027  191.699997  ...  1125800
2024-03-07  87.690002  386.910004  556.039978  198.240005  ...  1773500

Price                                                                       \
Ticker           XEL       XOM     XRAY      XYL      YUM      ZBH    ZBRA
Date
2024-03-04  10184200  18138000  1565300   917300  2421400  1658500  442500
2024-03-05  12549200  19952700  1753400   924200  2283400  1308300  306700
2024-03-06  14401900  20472800  1590300  1118900  1772600   753100  182100
2024-03-07  17186900  15195400  1711200   905500  1939800  1057900  246600

Price
Ticker         ZION      ZTS
Date
2024-03-04  4217700  3757200
2024-03-05  3370400  2508500
2024-03-06  4182000  5028500
2024-03-07  2512100  3839300

[4 rows x 3018 columns]

In [72]:
# check for nan values
data.isnull().values.any()

True

In [73]:
# Must come up with a code or function that would delete all NAN values.
data1 = data.dropna(axis=1)

In [30]:
# now to make meanful date we have to find the top prefomring stock in terms of earnings 
# the stocks with the highest closing price
# dict1 = {'Stock_ticker':'', 'Stock_Returns':''}
# for ticker[0] in data1.columns.levels[0][1:]:
#         close_prices = data1[stock_ticker]['Close']
#         # calculating raturns
#         returns_calculation = close_prices.pct_change()
#          # workout the percentage change for the date period inserted
#         returns = returns_calculation.loc[date1:date2]
#         returns_df[stock_ticker] = returns

In [43]:
# this here is me trying to develop a way
data_p = {'Name': ['Ankit', 'Amit',
                 'Aishwarya', 'Priyanka'],
        'Age': [21, 19, 20, 18]}
 
# Convert the dictionary into DataFrame
df1 = pd.DataFrame(data, columns=['Name', 'Age'])

df1['Name']

data_p2 = ['Ankit', 'Amit','Aishwarya', 'Priyanka','Abdi']
data_p3 = []
for name in data_p2:
    if name  in df1['Name'].values:
        print(name)
        data_p3.append(name)

Ankit
Amit
Aishwarya
Priyanka

In [100]:
tickers1 = []

# Assuming data is your DataFrame
for ticker in tickers:
    # Check if the ticker is in any level of the columns MultiIndex
    
    if any(ticker in level for level in data.columns.levels):
        print(f"{ticker} found in the DataFrame")
        tickers1.append(ticker)
    
    elif any(ticker not in level for level  in data.columns.levels):
        print(f"{ticker} not found in the DataFrame")


# The tickers1 list now contains the tickers present in the DataFrame
print(tickers1)

A found in the DataFrame
AAL found in the DataFrame
AAPL found in the DataFrame
ABBV found in the DataFrame
ABNB found in the DataFrame
ABT found in the DataFrame
ACGL found in the DataFrame
ACN found in the DataFrame
ADBE found in the DataFrame
ADI found in the DataFrame
ADM found in the DataFrame
ADP found in the DataFrame
ADSK found in the DataFrame
AEE found in the DataFrame
AEP found in the DataFrame
AES found in the DataFrame
AFL found in the DataFrame
AIG found in the DataFrame
AIZ found in the DataFrame
AJG found in the DataFrame
AKAM found in the DataFrame
ALB found in the DataFrame
ALGN found in the DataFrame
ALL found in the DataFrame
ALLE found in the DataFrame
AMAT found in the DataFrame
AMCR found in the DataFrame
AMD found in the DataFrame
AME found in the DataFrame
AMGN found in the DataFrame
AMP found in the DataFrame
AMT found in the DataFrame
AMZN found in the DataFrame
ANET found in the DataFrame
ANSS found in the DataFrame
AON found in the DataFrame
AOS found in the DataFrame
APA found in the DataFrame
APD found in the DataFrame
APH found in the DataFrame
APTV found in the DataFrame
ARE found in the DataFrame
ATO found in the DataFrame
AVB found in the DataFrame
AVGO found in the DataFrame
AVY found in the DataFrame
AWK found in the DataFrame
AXON found in the DataFrame
AXP found in the DataFrame
AZO found in the DataFrame
BA found in the DataFrame
BAC found in the DataFrame
BALL found in the DataFrame
BAX found in the DataFrame
BBWI found in the DataFrame
BBY found in the DataFrame
BDX found in the DataFrame
BEN found in the DataFrame
BF.B found in the DataFrame
BG found in the DataFrame
BIIB found in the DataFrame
BIO found in the DataFrame
BK found in the DataFrame
BKNG found in the DataFrame
BKR found in the DataFrame
BLDR found in the DataFrame
BLK found in the DataFrame
BMY found in the DataFrame
BR found in the DataFrame
BRK.B found in the DataFrame
BRO found in the DataFrame
BSX found in the DataFrame
BWA found in the DataFrame
BX found in the DataFrame
BXP found in the DataFrame
C found in the DataFrame
CAG found in the DataFrame
CAH found in the DataFrame
CARR found in the DataFrame
CAT found in the DataFrame
CB found in the DataFrame
CBOE found in the DataFrame
CBRE found in the DataFrame
CCI found in the DataFrame
CCL found in the DataFrame
CDNS found in the DataFrame
CDW found in the DataFrame
CE found in the DataFrame
CEG found in the DataFrame
CF found in the DataFrame
CFG found in the DataFrame
CHD found in the DataFrame
CHRW found in the DataFrame
CHTR found in the DataFrame
CI found in the DataFrame
CINF found in the DataFrame
CL found in the DataFrame
CLX found in the DataFrame
CMA found in the DataFrame
CMCSA found in the DataFrame
CME found in the DataFrame
CMG found in the DataFrame
CMI found in the DataFrame
CMS found in the DataFrame
CNC found in the DataFrame
CNP found in the DataFrame
COF found in the DataFrame
COO found in the DataFrame
COP found in the DataFrame
COR found in the DataFrame
COST found in the DataFrame
CPB found in the DataFrame
CPRT found in the DataFrame
CPT found in the DataFrame
CRL found in the DataFrame
CRM found in the DataFrame
CSCO found in the DataFrame
CSGP found in the DataFrame
CSX found in the DataFrame
CTAS found in the DataFrame
CTLT found in the DataFrame
CTRA found in the DataFrame
CTSH found in the DataFrame
CTVA found in the DataFrame
CVS found in the DataFrame
CVX found in the DataFrame
CZR found in the DataFrame
D found in the DataFrame
DAL found in the DataFrame
DAY found in the DataFrame
DD found in the DataFrame
DE found in the DataFrame
DFS found in the DataFrame
DG found in the DataFrame
DGX found in the DataFrame
DHI found in the DataFrame
DHR found in the DataFrame
DIS found in the DataFrame
DLR found in the DataFrame
DLTR found in the DataFrame
DOC found in the DataFrame
DOV found in the DataFrame
DOW found in the DataFrame
DPZ found in the DataFrame
DRI found in the DataFrame
DTE found in the DataFrame
DUK found in the DataFrame
DVA found in the DataFrame
DVN found in the DataFrame
DXCM found in the DataFrame
EA found in the DataFrame
EBAY found in the DataFrame
ECL found in the DataFrame
ED found in the DataFrame
EFX found in the DataFrame
EG found in the DataFrame
EIX found in the DataFrame
EL found in the DataFrame
ELV found in the DataFrame
EMN found in the DataFrame
EMR found in the DataFrame
ENPH found in the DataFrame
EOG found in the DataFrame
EPAM found in the DataFrame
EQIX found in the DataFrame
EQR found in the DataFrame
EQT found in the DataFrame
ES found in the DataFrame
ESS found in the DataFrame
ETN found in the DataFrame
ETR found in the DataFrame
ETSY found in the DataFrame
EVRG found in the DataFrame
EW found in the DataFrame
EXC found in the DataFrame
EXPD found in the DataFrame
EXPE found in the DataFrame
EXR found in the DataFrame
F found in the DataFrame
FANG found in the DataFrame
FAST found in the DataFrame
FCX found in the DataFrame
FDS found in the DataFrame
FDX found in the DataFrame
FE found in the DataFrame
FFIV found in the DataFrame
FI found in the DataFrame
FICO found in the DataFrame
FIS found in the DataFrame
FITB found in the DataFrame
FLT found in the DataFrame
FMC found in the DataFrame
FOX found in the DataFrame
FOXA found in the DataFrame
FRT found in the DataFrame
FSLR found in the DataFrame
FTNT found in the DataFrame
FTV found in the DataFrame
GD found in the DataFrame
GE found in the DataFrame
GEHC found in the DataFrame
GEN found in the DataFrame
GILD found in the DataFrame
GIS found in the DataFrame
GL found in the DataFrame
GLW found in the DataFrame
GM found in the DataFrame
GNRC found in the DataFrame
GOOG found in the DataFrame
GOOGL found in the DataFrame
GPC found in the DataFrame
GPN found in the DataFrame
GRMN found in the DataFrame
GS found in the DataFrame
GWW found in the DataFrame
HAL found in the DataFrame
HAS found in the DataFrame
HBAN found in the DataFrame
HCA found in the DataFrame
HD found in the DataFrame
HES found in the DataFrame
HIG found in the DataFrame
HII found in the DataFrame
HLT found in the DataFrame
HOLX found in the DataFrame
HON found in the DataFrame
HPE found in the DataFrame
HPQ found in the DataFrame
HRL found in the DataFrame
HSIC found in the DataFrame
HST found in the DataFrame
HSY found in the DataFrame
HUBB found in the DataFrame
HUM found in the DataFrame
HWM found in the DataFrame
IBM found in the DataFrame
ICE found in the DataFrame
IDXX found in the DataFrame
IEX found in the DataFrame
IFF found in the DataFrame
ILMN found in the DataFrame
INCY found in the DataFrame
INTC found in the DataFrame
INTU found in the DataFrame
INVH found in the DataFrame
IP found in the DataFrame
IPG found in the DataFrame
IQV found in the DataFrame
IR found in the DataFrame
IRM found in the DataFrame
ISRG found in the DataFrame
IT found in the DataFrame
ITW found in the DataFrame
IVZ found in the DataFrame
J found in the DataFrame
JBHT found in the DataFrame
JBL found in the DataFrame
JCI found in the DataFrame
JKHY found in the DataFrame
JNJ found in the DataFrame
JNPR found in the DataFrame
JPM found in the DataFrame
K found in the DataFrame
KDP found in the DataFrame
KEY found in the DataFrame
KEYS found in the DataFrame
KHC found in the DataFrame
KIM found in the DataFrame
KLAC found in the DataFrame
KMB found in the DataFrame
KMI found in the DataFrame
KMX found in the DataFrame
KO found in the DataFrame
KR found in the DataFrame
KVUE found in the DataFrame
L found in the DataFrame
LDOS found in the DataFrame
LEN found in the DataFrame
LH found in the DataFrame
LHX found in the DataFrame
LIN found in the DataFrame
LKQ found in the DataFrame
LLY found in the DataFrame
LMT found in the DataFrame
LNT found in the DataFrame
LOW found in the DataFrame
LRCX found in the DataFrame
LULU found in the DataFrame
LUV found in the DataFrame
LVS found in the DataFrame
LW found in the DataFrame
LYB found in the DataFrame
LYV found in the DataFrame
MA found in the DataFrame
MAA found in the DataFrame
MAR found in the DataFrame
MAS found in the DataFrame
MCD found in the DataFrame
MCHP found in the DataFrame
MCK found in the DataFrame
MCO found in the DataFrame
MDLZ found in the DataFrame
MDT found in the DataFrame
MET found in the DataFrame
META found in the DataFrame
MGM found in the DataFrame
MHK found in the DataFrame
MKC found in the DataFrame
MKTX found in the DataFrame
MLM found in the DataFrame
MMC found in the DataFrame
MMM found in the DataFrame
MNST found in the DataFrame
MO found in the DataFrame
MOH found in the DataFrame
MOS found in the DataFrame
MPC found in the DataFrame
MPWR found in the DataFrame
MRK found in the DataFrame
MRNA found in the DataFrame
MRO found in the DataFrame
MS found in the DataFrame
MSCI found in the DataFrame
MSFT found in the DataFrame
MSI found in the DataFrame
MTB found in the DataFrame
MTCH found in the DataFrame
MTD found in the DataFrame
MU found in the DataFrame
NCLH found in the DataFrame
NDAQ found in the DataFrame
NDSN found in the DataFrame
NEE found in the DataFrame
NEM found in the DataFrame
NFLX found in the DataFrame
NI found in the DataFrame
NKE found in the DataFrame
NOC found in the DataFrame
NOW found in the DataFrame
NRG found in the DataFrame
NSC found in the DataFrame
NTAP found in the DataFrame
NTRS found in the DataFrame
NUE found in the DataFrame
NVDA found in the DataFrame
NVR found in the DataFrame
NWS found in the DataFrame
NWSA found in the DataFrame
NXPI found in the DataFrame
O found in the DataFrame
ODFL found in the DataFrame
OKE found in the DataFrame
OMC found in the DataFrame
ON found in the DataFrame
ORCL found in the DataFrame
ORLY found in the DataFrame
OTIS found in the DataFrame
OXY found in the DataFrame
PANW found in the DataFrame
PARA found in the DataFrame
PAYC found in the DataFrame
PAYX found in the DataFrame
PCAR found in the DataFrame
PCG found in the DataFrame
PEG found in the DataFrame
PEP found in the DataFrame
PFE found in the DataFrame
PFG found in the DataFrame
PG found in the DataFrame
PGR found in the DataFrame
PH found in the DataFrame
PHM found in the DataFrame
PKG found in the DataFrame
PLD found in the DataFrame
PM found in the DataFrame
PNC found in the DataFrame
PNR found in the DataFrame
PNW found in the DataFrame
PODD found in the DataFrame
POOL found in the DataFrame
PPG found in the DataFrame
PPL found in the DataFrame
PRU found in the DataFrame
PSA found in the DataFrame
PSX found in the DataFrame
PTC found in the DataFrame
PWR found in the DataFrame
PXD found in the DataFrame
PYPL found in the DataFrame
QCOM found in the DataFrame
QRVO found in the DataFrame
RCL found in the DataFrame
REG found in the DataFrame
REGN found in the DataFrame
RF found in the DataFrame
RHI found in the DataFrame
RJF found in the DataFrame
RL found in the DataFrame
RMD found in the DataFrame
ROK found in the DataFrame
ROL found in the DataFrame
ROP found in the DataFrame
ROST found in the DataFrame
RSG found in the DataFrame
RTX found in the DataFrame
RVTY found in the DataFrame
SBAC found in the DataFrame
SBUX found in the DataFrame
SCHW found in the DataFrame
SHW found in the DataFrame
SJM found in the DataFrame
SLB found in the DataFrame
SNA found in the DataFrame
SNPS found in the DataFrame
SO found in the DataFrame
SPG found in the DataFrame
SPGI found in the DataFrame
SRE found in the DataFrame
STE found in the DataFrame
STLD found in the DataFrame
STT found in the DataFrame
STX found in the DataFrame
STZ found in the DataFrame
SWK found in the DataFrame
SWKS found in the DataFrame
SYF found in the DataFrame
SYK found in the DataFrame
SYY found in the DataFrame
T found in the DataFrame
TAP found in the DataFrame
TDG found in the DataFrame
TDY found in the DataFrame
TECH found in the DataFrame
TEL found in the DataFrame
TER found in the DataFrame
TFC found in the DataFrame
TFX found in the DataFrame
TGT found in the DataFrame
TJX found in the DataFrame
TMO found in the DataFrame
TMUS found in the DataFrame
TPR found in the DataFrame
TRGP found in the DataFrame
TRMB found in the DataFrame
TROW found in the DataFrame
TRV found in the DataFrame
TSCO found in the DataFrame
TSLA found in the DataFrame
TSN found in the DataFrame
TT found in the DataFrame
TTWO found in the DataFrame
TXN found in the DataFrame
TXT found in the DataFrame
TYL found in the DataFrame
UAL found in the DataFrame
UBER found in the DataFrame
UDR found in the DataFrame
UHS found in the DataFrame
ULTA found in the DataFrame
UNH found in the DataFrame
UNP found in the DataFrame
UPS found in the DataFrame
URI found in the DataFrame
USB found in the DataFrame
V found in the DataFrame
VFC found in the DataFrame
VICI found in the DataFrame
VLO found in the DataFrame
VLTO found in the DataFrame
VMC found in the DataFrame
VRSK found in the DataFrame
VRSN found in the DataFrame
VRTX found in the DataFrame
VTR found in the DataFrame
VTRS found in the DataFrame
VZ found in the DataFrame
WAB found in the DataFrame
WAT found in the DataFrame
WBA found in the DataFrame
WBD found in the DataFrame
WDC found in the DataFrame
WEC found in the DataFrame
WELL found in the DataFrame
WFC found in the DataFrame
WHR found in the DataFrame
WM found in the DataFrame
WMB found in the DataFrame
WMT found in the DataFrame
WRB found in the DataFrame
WRK found in the DataFrame
WST found in the DataFrame
WTW found in the DataFrame
WY found in the DataFrame
WYNN found in the DataFrame
XEL found in the DataFrame
XOM found in the DataFrame
XRAY found in the DataFrame
XYL found in the DataFrame
YUM found in the DataFrame
ZBH found in the DataFrame
ZBRA found in the DataFrame
ZION found in the DataFrame
ZTS found in the DataFrame
['A', 'AAL', 'AAPL', 'ABBV', 'ABNB', 'ABT', 'ACGL', 'ACN', 'ADBE', 'ADI', 'ADM', 'ADP', 'ADSK', 'AEE', 'AEP', 'AES', 'AFL', 'AIG', 'AIZ', 'AJG', 'AKAM', 'ALB', 'ALGN', 'ALL', 'ALLE', 'AMAT', 'AMCR', 'AMD', 'AME', 'AMGN', 'AMP', 'AMT', 'AMZN', 'ANET', 'ANSS', 'AON', 'AOS', 'APA', 'APD', 'APH', 'APTV', 'ARE', 'ATO', 'AVB', 'AVGO', 'AVY', 'AWK', 'AXON', 'AXP', 'AZO', 'BA', 'BAC', 'BALL', 'BAX', 'BBWI', 'BBY', 'BDX', 'BEN', 'BF.B', 'BG', 'BIIB', 'BIO', 'BK', 'BKNG', 'BKR', 'BLDR', 'BLK', 'BMY', 'BR', 'BRK.B', 'BRO', 'BSX', 'BWA', 'BX', 'BXP', 'C', 'CAG', 'CAH', 'CARR', 'CAT', 'CB', 'CBOE', 'CBRE', 'CCI', 'CCL', 'CDNS', 'CDW', 'CE', 'CEG', 'CF', 'CFG', 'CHD', 'CHRW', 'CHTR', 'CI', 'CINF', 'CL', 'CLX', 'CMA', 'CMCSA', 'CME', 'CMG', 'CMI', 'CMS', 'CNC', 'CNP', 'COF', 'COO', 'COP', 'COR', 'COST', 'CPB', 'CPRT', 'CPT', 'CRL', 'CRM', 'CSCO', 'CSGP', 'CSX', 'CTAS', 'CTLT', 'CTRA', 'CTSH', 'CTVA', 'CVS', 'CVX', 'CZR', 'D', 'DAL', 'DAY', 'DD', 'DE', 'DFS', 'DG', 'DGX', 'DHI', 'DHR', 'DIS', 'DLR', 'DLTR', 'DOC', 'DOV', 'DOW', 'DPZ', 'DRI', 'DTE', 'DUK', 'DVA', 'DVN', 'DXCM', 'EA', 'EBAY', 'ECL', 'ED', 'EFX', 'EG', 'EIX', 'EL', 'ELV', 'EMN', 'EMR', 'ENPH', 'EOG', 'EPAM', 'EQIX', 'EQR', 'EQT', 'ES', 'ESS', 'ETN', 'ETR', 'ETSY', 'EVRG', 'EW', 'EXC', 'EXPD', 'EXPE', 'EXR', 'F', 'FANG', 'FAST', 'FCX', 'FDS', 'FDX', 'FE', 'FFIV', 'FI', 'FICO', 'FIS', 'FITB', 'FLT', 'FMC', 'FOX', 'FOXA', 'FRT', 'FSLR', 'FTNT', 'FTV', 'GD', 'GE', 'GEHC', 'GEN', 'GILD', 'GIS', 'GL', 'GLW', 'GM', 'GNRC', 'GOOG', 'GOOGL', 'GPC', 'GPN', 'GRMN', 'GS', 'GWW', 'HAL', 'HAS', 'HBAN', 'HCA', 'HD', 'HES', 'HIG', 'HII', 'HLT', 'HOLX', 'HON', 'HPE', 'HPQ', 'HRL', 'HSIC', 'HST', 'HSY', 'HUBB', 'HUM', 'HWM', 'IBM', 'ICE', 'IDXX', 'IEX', 'IFF', 'ILMN', 'INCY', 'INTC', 'INTU', 'INVH', 'IP', 'IPG', 'IQV', 'IR', 'IRM', 'ISRG', 'IT', 'ITW', 'IVZ', 'J', 'JBHT', 'JBL', 'JCI', 'JKHY', 'JNJ', 'JNPR', 'JPM', 'K', 'KDP', 'KEY', 'KEYS', 'KHC', 'KIM', 'KLAC', 'KMB', 'KMI', 'KMX', 'KO', 'KR', 'KVUE', 'L', 'LDOS', 'LEN', 'LH', 'LHX', 'LIN', 'LKQ', 'LLY', 'LMT', 'LNT', 'LOW', 'LRCX', 'LULU', 'LUV', 'LVS', 'LW', 'LYB', 'LYV', 'MA', 'MAA', 'MAR', 'MAS', 'MCD', 'MCHP', 'MCK', 'MCO', 'MDLZ', 'MDT', 'MET', 'META', 'MGM', 'MHK', 'MKC', 'MKTX', 'MLM', 'MMC', 'MMM', 'MNST', 'MO', 'MOH', 'MOS', 'MPC', 'MPWR', 'MRK', 'MRNA', 'MRO', 'MS', 'MSCI', 'MSFT', 'MSI', 'MTB', 'MTCH', 'MTD', 'MU', 'NCLH', 'NDAQ', 'NDSN', 'NEE', 'NEM', 'NFLX', 'NI', 'NKE', 'NOC', 'NOW', 'NRG', 'NSC', 'NTAP', 'NTRS', 'NUE', 'NVDA', 'NVR', 'NWS', 'NWSA', 'NXPI', 'O', 'ODFL', 'OKE', 'OMC', 'ON', 'ORCL', 'ORLY', 'OTIS', 'OXY', 'PANW', 'PARA', 'PAYC', 'PAYX', 'PCAR', 'PCG', 'PEG', 'PEP', 'PFE', 'PFG', 'PG', 'PGR', 'PH', 'PHM', 'PKG', 'PLD', 'PM', 'PNC', 'PNR', 'PNW', 'PODD', 'POOL', 'PPG', 'PPL', 'PRU', 'PSA', 'PSX', 'PTC', 'PWR', 'PXD', 'PYPL', 'QCOM', 'QRVO', 'RCL', 'REG', 'REGN', 'RF', 'RHI', 'RJF', 'RL', 'RMD', 'ROK', 'ROL', 'ROP', 'ROST', 'RSG', 'RTX', 'RVTY', 'SBAC', 'SBUX', 'SCHW', 'SHW', 'SJM', 'SLB', 'SNA', 'SNPS', 'SO', 'SPG', 'SPGI', 'SRE', 'STE', 'STLD', 'STT', 'STX', 'STZ', 'SWK', 'SWKS', 'SYF', 'SYK', 'SYY', 'T', 'TAP', 'TDG', 'TDY', 'TECH', 'TEL', 'TER', 'TFC', 'TFX', 'TGT', 'TJX', 'TMO', 'TMUS', 'TPR', 'TRGP', 'TRMB', 'TROW', 'TRV', 'TSCO', 'TSLA', 'TSN', 'TT', 'TTWO', 'TXN', 'TXT', 'TYL', 'UAL', 'UBER', 'UDR', 'UHS', 'ULTA', 'UNH', 'UNP', 'UPS', 'URI', 'USB', 'V', 'VFC', 'VICI', 'VLO', 'VLTO', 'VMC', 'VRSK', 'VRSN', 'VRTX', 'VTR', 'VTRS', 'VZ', 'WAB', 'WAT', 'WBA', 'WBD', 'WDC', 'WEC', 'WELL', 'WFC', 'WHR', 'WM', 'WMB', 'WMT', 'WRB', 'WRK', 'WST', 'WTW', 'WY', 'WYNN', 'XEL', 'XOM', 'XRAY', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION', 'ZTS']

In [94]:
'BRK.B' in tickers1

False

In [95]:
data1['Adj Close'][tickers1]

Empty DataFrame
Columns: []
Index: [2024-03-04 00:00:00, 2024-03-05 00:00:00, 2024-03-06 00:00:00, 2024-03-07 00:00:00]

[]